body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a0f4fa; /* Background color to complement the waves */
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border: 5px solid black;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    z-index: 10; /* Ensures container is above the wave animation */
}

#question-container {
    margin-bottom: 20px;
}

#options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 15px 30px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    font-size: 1.2em;
    width: 200px; /* Fixed width for buttons */
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.profile-info,
.session-score {
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 20px;
}

.profile-info {
    flex-basis: 45%;
}

.session-score {
    flex-basis: 45%;
}

h2 {
    margin-top: 0;
}

p {
    margin-bottom: 10px;
}

span {
    font-weight: bold;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move_wave 3s;
    -webkit-animation: move_wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.quiz-feedback {
    font-weight: bold;
    color: #007bff; 
}

#question {
    font-size: 24px;
    font-weight: bold; 
    color: #007bff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    margin-bottom: 20px;
}
/* Botones adicionales */
button#exit-quiz-btn {
    background-color: #ffc107;
    color: #000;
}

button#exit-quiz-btn:hover {
    background-color: #e0a800;
}

button#end-quiz-btn {
    background-color: #dc3545;
    color: #fff;
}

button#end-quiz-btn:hover {
    background-color: #c82333;
}

button#return-home-btn {
    background-color: #6c757d;
    color: #fff;
}

button#return-home-btn:hover {
    background-color: #5a6268;
}